<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css">
    <style>
        table, th, td {
            border: 1px solid black;
            text-align: center;
        }

        table {
            margin-top: 10px;
        }

        td {
            padding: 10px;
        }
        button {
            margin-left: 50px;
        }

        body{
            max-width: 500px;
            margin: auto;
        }
    </style>
</head>
<body>
<h1>Adaugati un membru</h1>
    <form action="#" method="post">
       <div class="form-group">
           <label for="name">Nume:</label>
           <input type="text" maxlength="100" name="name" placeholder="Nume persoana">
           <br>
           <label for="expense">Cheltuiala:</label>
           <input type="number" name="expense" placeholder="Cheltuiala">
           <br>
           <button type="submit">Create</button>
       </div>
    </form>
</body>
</html>