<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <form action="/edit/{{ userid }}/{{ oldname }}" method="POST">
        <label>
            Expense:
            <input type="text" id="expense" name="expense" value="{{ name }}"/>
        </label> <br/>
        <label>
            Value:
            <input type="number" id="value" name="value" value="{{ value }}"/>
        </label><br/>
        <button type="submit" name="submit">Update</button>
    </form>
</body>
</html>
