<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   <title>Register</title>
</head>
<body>
    <form action="/send" method="post">
        <label>
            username:
            <input type="text" id="username" name="username"/>
        </label> <br/>
        <label>
            password:
            <input type="password" id="password" name="password"/>
        </label><br/>
        <label>
            firstname:
            <input type="text" id="firstname" name="firstname"/>
        </label><br/>
        <label>
            lastname:
            <input type="text" id="lastname" name="lastname"/>
        </label><br/>
        <button type="submit" name="submit">Register</button>
    </form>
<a href="/">Autentificare</a>
</body>
</html>